

.angle-only .owl-controls .owl-buttons{
	position: absolute;
top: 50%;
margin-top:8px;
width: 100%;
}
.angle-only .owl-controls .owl-page, .owl-controls .owl-buttons div{
display: inline-block;

}
.angle-only .owl-controls .owl-page, .owl-buttons div.owl-prev{
	float: left;
background: rgba(251, 251, 251, 0.24);
padding: 12px 21px;
border-radius: 79px;
color: #fff;
font-size: 20px
}
.angle-only .owl-controls .owl-page, .owl-buttons div.owl-next{
	float:right;

background: rgba(251, 251, 251, 0.24);
padding: 12px 21px;
border-radius: 79px;
color: #fff;
font-size: 20px
}
.angle-only .owl-controls .owl-page, .owl-buttons div.owl-prev:hover{
	background-color: RGBA(0, 0, 0, 0.42);
}
.angle-only .owl-controls .owl-page, .owl-buttons div.owl-next:hover{
background-color: RGBA(0, 0, 0, 0.42);
}
.angle-only .owl-controls.owl-buttons div i{
	
}
.angle-only .owl-controls.owl-buttons div i.fa-angle-left{
	
}
.angle-only.owl-controls.owl-buttons div i.fa-angle-right{
	
}

/**********dot-only****************/
.dot-only .owl-controls{
	margin-bottom:48px;
	margin-top: 41px;
}
.dot-only .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.dot-only .owl-controls .owl-page span{
	display: block;
	width: 8px;
	height: 8px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #bfc0c1;
}
.dot-only .owl-controls .owl-page.active span,
.dot-only .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background-color:#fff;
}


/**********round-only****************/
.round-only .owl-controls{
	margin-bottom:0px;
	margin-top:0px;
}
.round-only .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.round-only .owl-controls .owl-page span{
	display: block;
	width: 8px;
	height: 8px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:2px solid #bfc0c1;
}
.round-only .owl-controls .owl-page.active span,
.round-only .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background-color:#bfc0c1;
}

/**********big_curcal-only****************/

.big_curcal-only .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	padding: 55px 0px;
}
.big_curcal-only .owl-controls .owl-page span{
	display: block;
	width: 9px;
	height: 9px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 1;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#bfc0c1;
}
.big_curcal-only .owl-controls .owl-page.active span,
.big_curcal-only .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	width: 12px;
	height: 12px;
}

/**********off-whait-only****************/
.off-whait-only .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	padding: 55px 0px;
}
.off-whait-only .owl-controls .owl-page span{
	display: block;
	width: 9px;
	height: 9px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 1;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#aeaac4;
}
.off-whait-only .owl-controls .owl-page.active span,
.off-whait-only .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	width: 12px;
	height: 12px;
	background-color:#bfc0c1;
}